<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ hugo.Generator }}
  {{ if site.Params.schema }}{{ template "_internal/schema.html" . }}{{ end }}
  {{ if site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }}
  {{ if site.Params.twittercards }}{{ template "_internal/twitter_cards.html" . }}{{ end }}
  {{ template "_internal/google_analytics_async.html" . }}
  
  {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
  {{ else }}
    <meta name="description" content="{{ site.Params.Description }}">
  {{ end }}
  

  <title>
    {{ if eq .Title site.Title }}
    {{ site.Title }}
    {{ else }}
    {{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}
    {{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ range .AlternativeOutputFormats }}
  {{ printf "<link rel=%q type=%q href=%q title=%q>" .Rel .MediaType .Permalink site.Title | safeHTML }}
  {{ end }}
  {{ resources.Get "css/base.temp.css" | resources.ExecuteAsTemplate "css/base.css" . | minify | fingerprint | .Page.Scratch.SetInMap "css" "base" }}
  {{/*
    In the following block, Hugo is forced to stop and pre-render the
    content of the current page with all its shortcodes. Thanks to this
    pre-render, shortcodes can be used to load additional CSS and JS
    resources through the .Scratch variable.
  */}}
  {{ block "loadshortcodes" . }}{{ with .Content }}{{ end }}{{ end }}
  {{ range .Scratch.GetSortedMapValues "css" }}
  <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  {{ range .Scratch.GetSortedMapValues "js" }}
  <script defer src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}

  {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}

</head>
<body>
  {{ partialCached "banner.html" . }}
  <main>
    <div class="u-wrapper">
      <div class="u-padding">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </main>
  {{ partialCached "footer.html" . }}

  {{ if .Params.animationBelow }}
    <div id="canvas" style="height:200px">
    </div>
  {{ end }}

</body>

{{- range .Params.js }}
<script src="{{ . }}"></script>
{{- end }}

</html>
