{{ define "loadshortcodes" }}

{{/*
  Here Hugo is forced to cycle through all the items that will appear on
  the page, and pre-render their contents with all their shortcodes. If
  these shortcodes are used to load additional CSS and JS resources,
  these resources are then transferred from their local .Scratch
  variables to the globally available .Scratch variable.
*/}}
{{ $paginator := where site.RegularPages "Type" "in" site.Params.mainSections | .Paginate }}
{{ range $paginator.Pages }}
{{ with .Content }}{{ end }}
{{ with .Scratch.Get "css" }}
{{ . | merge ($.Scratch.Get "css") | $.Scratch.Set "css" }}
{{ end }}
{{ with .Scratch.Get "js" }}
{{ . | merge ($.Scratch.Get "js") | $.Scratch.Set "js" }}
{{ end }}
{{ end }}
{{ .Scratch.Set "paginator" $paginator }}

{{ end }}

{{ define "main" }}

{{ $paginator := .Scratch.Get "paginator" }}
{{ range $paginator.Pages }}
<article>
  {{ partial "heading.html" . }}
  {{ if site.Params.summaries }}
  {{ .Summary }}
  {{ if .Truncated }}
  <p>
    <a class="u-clickable" href="{{ .Permalink }}">Read More…</a>
  </p>
  {{ end }}
  {{ else }}
  {{ .Content }}
  {{ end }}
</article>
{{ end }}
{{ partial "pagination.html" $paginator }}

{{ end }}
